@import "../../../../index.scss";

.WizardNavigation {
  border-top: 1px solid $border-color;

  &-control {
    display: flex;

    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
