.FormStep {
  &__password {
    display: grid;
    gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    padding: 0;
    max-width: 33rem;
  }
}
