@import "../../index.scss";

.PasswordField {
  > label {
    font-weight: 500;
  }

  .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: $danger;
  }

  .input-group {
    > input.form-control {
      border-right-color: transparent;
    }
    > button.btn {
      border-color: $input-group-addon-border-color;

      &[class*="btn-outline-"] {
        border-left-color: transparent;
      }
    }
  }
}
